{# common/base.html을 상속 받겠음 #}
{% extends 'common/base.html' %}
{% block title %}[게시판]{% endblock title %}
  {% block body %}
  <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
  <script>
    function callFunction(){
      let data ={'txt': 'hello'};
      $.ajax({
        url:'{{'call_ajax'}}',
        type:'post',
        headers:{ 'X-CSRFTOKEN':'{{ csrf_token }}' },
        data: JSON.stringify(data), //JS 객체를 문자열화
        success: function(res){
          console.log("성공했냐?" + res.result);
        }
      });
    }
  </script>
  <div class="w-[100vw] pt-4 px-8 bg-gray-200">
    <section class="flex flex-col gap-8 border border-black p-8 rounded-md shadow-md bg-white">
      <div class="flex flex-row px-4 justify-between items-center">
        <h1 class="text-5xl font-bold">주문 등록 시스템</h1>
        {% if user.is_authenticated %}
        <div>
          <a href="{%url 'order:write'%}" class="border boedr-black p-4 bg-gray-200">주문등록</a>
          {% endif %}
        <input type="button" value="눌러보세요." onclick="callFunction()">
      </div>
      </div>
      <div class="w-full border border-black rounded-md">
        <table class="w-full text-center">
          <tr class="bg-black text-white">
            <th>번호</th>
            <th>주문상품</th>
            <th>주문자</th>
            <th>가격</th>
            <th>주소</th>
            <th>주문일시</th>
          </tr>
          <tbody>
            {% if page_obj %}
            {% for o in page_obj %}
              <tr>
                <td>{{o.id}}</td>
                <td class="cursor-pointer hover:bg-gray-400">
                  <!--파라미터가 있는 주소를 호출할 떄-->
                  <a href="{% url 'order:detail' o.id %}">
                    {{o.order_text}}
                  </a>
                </td>
                <!--author 와 .username 은 같은 네임-->
                <td>{{o.author}} {{o.author_id}} {{o.author.username}}</td>
                <td>{{o.price}}</td>
                <td>{{o.address}}</td>
                <td>{{o.order_date|date:'Y/m/d H:i D'}}</td>
              </tr>
            {% endfor %}
            {% else %}
              <p>주문이 존재하지 않습니다</p>
            {% endif %}
          </tbody>
        </table>
      </div>
      <!-- 검색 및 글쓰기-->
      <div class="flex flex-col gap-2 items-center justify-between">
        <!-- action을 비워놓게 되면 현재 페이지의 주소를 다시 호출한다.-->
        <form class="w-full flex flex-col border border-black w-fit rounded-md p-4">
          <div class="w-full flex flex-row gap-2">
          <select name = "searchType" class="w-28 border border-gray-400">
            <!--주문-->
            {% if searchType == 'order'%}
            <option value="order" selected="selected">주문</option>
            {% else%}
            <option value="order">주문</option>
            {% endif%}
            {% if searchType == 'address'%}
            <option value="address" selected="selected">주소</option>
            {% else%}
            <option value="address">주소</option>
            {% endif%}
            {% if searchType == 'price'%}
            <option value="price" selected="selected">가격</option>
            {% else%}
            <option value="price">가격</option>
            {% endif %}
          </select>

            <input type="text" name="searchWord" placeholder="검색" value="{{searchWord}}" class="flex flex-1 border border-black rounded-md"/>
            <input type="submit" value="검색" class="bg-gray-400 border border-black w-[20%] px-2"/>
          </div>
        </form>
        <div class="flex flex-col gap-4">
          <aside class="w-full flex flex-row gap-4 justify-center items-center">
          <!--1번 페이징-->
          {% if page_obj.has_previous %}
            <a href="?page=1" class="border boder-gray-400 p-2 bg-gray-200">&laquo;처음 페이지로</a>
            <a href="?page={{page_obj.previous_page_number}}" class="border boder-gray-400 p-2 bg-gray-200">이전</a>
          {% endif %}
            <!-- Paginator 의 number 현재 페이지 번호-->
            <!-- num_pages는 전체 페이지수 -->
          {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number}}" class="border boder-gray-400 p-2 bg-gray-200">다음</a>
            <a href="?page={{page_obj.paginator.num_pages}}" class="border boder-gray-400 p-2 bg-gray-200">마지막 페이지로 &raquo</a>
          {% endif %}
          </aside>
          <!--2번 페이징-->
        <aside class="flex flex-row gap-2 justify-center items-center">
          {% comment %} <div>
            {% for page_number in page_obj.paginator.page_range %}
              <a href="?page={{ page_number }}">{{page_number}}</a>
            {% endfor %}
          </div> {% endcomment %}
        </aside>
          <!--3번 개선된 페이징 -->
          <aside class="flex flex-row gap-2 justify-center items-center">
            {% for page_number in page_obj.paginator.page_range %}
              <!---->
              {% if page_number >= page_obj.number|add:-2 and page_number <= page_obj.number|add:2 %}
              <!--검색조건이있을떄-->
              {% if searchWord %}
                  <a href="?page={{page_number}}&searchType={{searchType}}&searchWord={{searchWord}}"
                     class= "w-9 h-9 flex items-center justify-center border border-gray-400 p-2 bg-black text-white">{{page_number}}</a>
                <!-- 검색조건이없을떄-->
              {% else %}

                {% if page_number == page_obj.number %}
                    <a href="?page={{page_number}}"
                      class= "w-9 h-9 flex items-center justify-center border border-gray-400 p-4 bg-blue-400 text-white">{{page_number}}</a>
                {% else %}
                    <a href="?page={{page_number}}"
                    class= "w-9 h-9 flex items-center justify-center border border-gray-400 p-2 bg-black text-white">{{page_number}}</a>
                {% endif %}
              {% endif %}
              {% endif %}
              <!---->
            {% endfor %}
          </aside>
          <p class="w-full flex justify-center">현재 페이지 {{page_obj.number}}<!----> of{{page_obj.paginator.num_pages}}</p>
        </div>
      </section>
    </div>
  {% endblock body %}
