<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="w-[100vw] p-12 bg-gray-200">
    <section
      class="flex flex-col gap-8 border border-black p-8 rounded-md shadow-md bg-white"
    >
      <div class="flex flex-row px-4 justify-between items-center">
        <h1 class="text-5xl font-bold">주문 등록 시스템</h1>
        <div class="flex flex-row gap-4">
          {% if not request.session.user %}
          <a href="login" class="border boedr-black py-2 px-4 bg-gray-200"
            >로그인</a
          >
          {% endif %} {% if request.session.user %}
          <a href="logout" class="border boedr-black py-2 px-4 bg-gray-200"
            >로그아웃</a
          >
          {% endif %}
        </div>
      </div>
      <div class="w-full border border-black rounded-md">
        <table class="w-full text-center">
          <tr class="bg-black text-white">
            <th>번호</th>
            <th>주문상품</th>
            <th>가격</th>
            <th>주소</th>
            <th>주문일시</th>
          </tr>
          <tbody>
            {% for o in oList %}
            <tr>
              <td>{{o.id}}</td>
              <td class="cursor-pointer hover:bg-gray-400">
                <a href="{{o.id}}"> {{o.order_text}} </a>
              </td>
              <td>{{o.price}}</td>
              <td>{{o.address}}</td>
              <td>{{o.order_date|date:'Y/m/d H:i D'}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- 검색 및 글쓰기-->
      <div class="flex flex-row gap-2 items-center justify-between">
        <form
          action="find_order"
          method="get"
          class="flex flex-1 flex-col border border-black w-fit rounded-md p-4"
        >
          <div class="flex gap-2">
            <input
              type="radio"
              name="option"
              value="order"
              checked="true"
            />주문검색
            <input type="radio" name="option" value="address" />주소검색
            <input
              type="radio"
              name="option"
              value="front_address"
            />전방일치검색
            <input type="radio" name="option" value="price" />가격검색
          </div>
          <div class="flex flex-row gap-2">
            <input
              type="text"
              name="find_order"
              placeholder="검색"
              class="flex flex-1 border border-black rounded-md"
            />
            <input
              type="submit"
              value="검색"
              class="bg-gray-400 border border-black w-[20%] px-2"
            />
          </div>
        </form>
        {% if request.session.user %}
        <div class="w-[20%] border boder-gray-400 bg-gray-200 text-center p-4">
          <a href="write" class="">주문등록</a>
        </div>
        {% endif %}
      </div>
    </section>
  </body>
</html>
