{% extends 'common/base.html' %}
{% block title %}[글쓰기]{% endblock title %}
{% block body %}
  <script>
    function formValidate() {
      console.log("탔니?");

      let order_text = $("#order_text").val();
      let price = $("#price").val();
      let address = $("#address").val();

      let badWords = ["바보", "한조", "멍청이"];
      for (let i = 0; i < badWords.length; i++) {
        if (order_text.includes(badWords[i]) || address.includes(badWords[i])) {
          alert(badWords[i] + "는 금지단어");
          return false;
        }
      }

      if (order_text.length <= 6 || order_text === "") {
        alert("글 내용이 비어있거나 6글자이하금지");
        return false;
      }
      if (price <= 3000 || price == null) {
        alert("최소금액은 3000원이상");
        return false;
      }
      if (address.length <= 5 || address === "") {
        alert("주소가 비어있거나 5글자이하 금지");
        return false;
      }
      return true;
    }
  </script>
  <h1 class="text-5xl">상품 주문 게시판</h1>
  <form action="{%url 'order:write'%}" method="post" enctype="multipart/form-data" onsubmit="return formValidate()">
    {% csrf_token %}
    <table>
      <tr>
        <th>상품주문:</th>
        <td>
          <input id="order_text" type="text" name="order_text" class="border border-gray-400"/>
        </td>
      </tr>
      <!--session에 writer가 없으면 해당 tr 표시-->

      <tr>
        <th>가격:</th>
        <td>
          <input id="price" type="number" name="price" class="border border-gray-400"/>
        </td>
      </tr>

      <tr>
        <th>주소:</th>
        <td>
          <textarea id="address" name="address" cols="10" class="border border-gray-400"></textarea>
        </td>
      </tr>

      <tr>
        <th>파일첨부</th>
        <td><input type="file" name="uploadFile" value="파일첨부"/></td>
      </tr>
      <tr>
        <th colspan="2">
          <a href="../">뒤로가기</a>
          {% if user.username %}
            <input type="submit" value="주문하기"/>
          {% endif %}
        </th>
      </tr>
    </table>
  </form>
{% endblock body %}
