{% extends 'common/base.html' %}
{% block title %}[글쓰기]{% endblock title %}

{% block body %}
  <section class="flex flex-col gap-2">
    <p>글번호:
      {{o.id}}</p>
    <a class="cursor-pointer hover:bg-gray-400">
      <span>전체상품:</span>
      {% for o in oList%}
        <p>{{o}}</p>
      {% endfor %}
    </a>
    <p>가격:
      {{o.price}}</p>
    <p>글쓴이:
      {{o.address}}</p>
    <p>주문일시:
      {{o.order_date}}</p>
  </section>
  <div class="flex flex-row gap-4">
    {% if user.is_authenticated %}
      <a href="{%url 'update' o.id %}">수정</a>
      <a href="{%url 'delete' o.id %}">삭제</a>
    {% endif %}
    <a href="{% url 'index' %}" class="bg-gray-400">목록으로</a>
  </div>
{% endblock body %}