{% extends 'common/base.html' %}
{% block title %}[글쓰기]{% endblock title %}
{% block body %}
  <script>
    $(document).ready(function () {
      // 1. 수정 폼 숨기기
      $("#updateForm").hide();
      // 2. 버튼에 이벤트달기
      $("#btnWrite").click(function () {
        writeReply()
      });
      $("#btnUpdate").click(function () {
        updateReply()
      });

      //loadReplyList();
    })

    function updateReply() {
      let replyText = $("#replyTextUpdate").val()

      if (replyText.length === 0) {
        alert("공백 댓글입력 금지")
        return false
      }

      let rid = $("#rid").val();

      let data = {
        'rid': rid,
        'replyText': replyText
      }
      $.ajax({
        url: '{% url "order:update_reply" id=o.id %}',
        type: 'post',
        data: JSON.stringify(data),
        headers: {
          'X-CSRFTOKEN': '{{ csrf_token }}'
        },
        success: function (result) {
          $("#replyTextUpdate").val("");
          $("#updateForm").hide();
          $("#writeForm").show();

          //loadReplyList();
          location.reload()
        }
      })

    }

    function writeReply() {
      // 1. textarea에 쓴 문자열 가져오기a
      let replyText = $("#replyTextWrite").val();

      if (replyText.length === 0) {
        alert("공백 댓글입력 금지")
        return false
      }

      let data = {
        'replyText': replyText
      }

      $.ajax({
        url: '{% url "order:write_reply" id=o.id %}',
        type: 'post',
        headers: {
          'X-CSRFTOKEN': '{{ csrf_token }}'
        },
        data: JSON.stringify(data),
        success: function (result) {
          $("#replyTextWrite").val("");
          //loadReplyList();
          location.reload()
        }
      })
    }

    function showUpdateForm(pram) {
      // location.href = id + '/update_reply?rid=' + rid;
      $("#writeForm").hide();
      $("#updateForm").show();

      $.ajax({
        url: '{%url "order:update_reply" id=o.id  %}',
        type: 'get',
        data: {
          'rid': pram
        },
        // TODO
        success: function (res) {
          console.log(res);
          console.log(res.reply_Text);
          //수정 입력창에 댓글 내용 표시
          $("#replyTextUpdate").val(res.reply_Text);
          //rid 라는 id를 가진 hidden 태그에 값 설정
          $("#rid").val(pram);
        }
      })
    }

    function deleteReply(param) {
      let data = {
        'rid': param
      };
      $.ajax({
        url: '{%url "order:delete_reply" id=o.id  %}',
        type: 'post',
        data: JSON.stringify(data),
        headers: {
          'X-CSRFTOKEN': '{{ csrf_token }}'
        },
        success: function (res) {
          console.log(res);
          location.reload()
        }
      })

    }

    //function loadReplyList() {
    //  console.log("호출됬음");
    //  $.ajax({
    //    url: '{% url "order:load_reply" id=o.id %}',
    //    type: 'get',
    //    success: function (data) {
    //      console.log("성공");
    //      $.each(data.replyList, function (index, item) {
    //        replyDate = item
    //          .inputDate
    //          .replace("T", " ")
    //          .replace("Z", "")
    //          .split(".")[0];
    //      })
    //
    //    }
    //  })
    //}
  </script>
  <section class="flex flex-col gap-2">
    <p>글번호:
      {{o.id}}</p>
    <a class="cursor-pointer hover:bg-gray-400">
      <span>전체상품:</span>
      {% for o in oList%}
        <p>{{o}}</p>
      {% endfor %}
    </a>
    <p>가격:
      {{o.price}}</p>
    <p>글쓴이:
      {{o.address}}</p>
    <p>주문일시:
      {{o.order_date}}</p>
    {% if o.original_file_name %}
      <p>첨부파일:
        <a href="{%url 'order:download' id=o.id %}">{{o.original_file_name}}</a>
      </p>
    {% endif %}
  </section>
  <div class="flex flex-row gap-4 justify-center">
    <!--auther.username 는 user하고 비교한다-->
    {% if o.author.username == user.username %}
      <a href="{%url 'order:update' o.id %}">수정</a>
      <a href="{%url 'order:delete' o.id %}">삭제</a>
    {% endif %}
    <a href="{% url 'order:index' %}" class="bg-black text-white p-4 rounded-md">목록으로</a>
  </div>
  <div id="replyArea">
    {# 댓글 목록 표시할 곳#}
    {# 댓글 입력폼#}
    {# TODO #}
    <div class="w-full h-28 text-lg">
      <div class="w-full flex items-center justify-between p-4 gap-4" id="writeForm">
        <textarea id="replyTextWrite" name="reply_content" placeholder="댓글 내용을 입력해주세요!" class="flex flex-1 border"></textarea>
        <input type="button" value="댓글작성" id="btnWrite" class="bg-black text-white w-40 py-4 rounded-md">
      </div>
      <!--context에 update가 없을떄-->
      <div class="w-full flex" id="updateForm">
        <input type="hidden" name="rid" value="" id="rid">
        <textarea id="replyTextUpdate" name="reply_content" placeholder="댓글 내용을 입력해주세요!" class="flex flex-1 border"></textarea>
        <input type="button" value="댓글수정" id="btnUpdate" class="bg-black text-white w-40 py-4 rounded-md">
      </div>
    </div>
    <div class="flex flex-col gap-2 p-4">
      {# order 객체 뿐만 아니라 order와 FK로 엮인 객체는 o.모델이름_set으로 가져올수있다 #}
      {% if o.reply_set %}
        {% for r in o.reply_set.all %}
          <section class="flex flex-row gap-4 items-center justify-between border p-2 rounded-md hover:bg-gray-100">
            {#댓글 내용 작성자#}

            <div class="flex flex-col gap-6 p-2">
              <p class="flex gap-4">
                <span class="font-bold">작성자:{{r.user}}</span>
                <span class="text-gray-400 text-xs">{{r.input_date}}</span>
              </p>
              <span>{{r}}</span>
            </div>

            {# 버튼 영역 #}
            {% if user.username == r.user.username %}
              <div class="flex flex-row gap-2 bg-gray-50" id="update_reply_form">
                <a href="#" onclick="javascript:showUpdateForm('{{r.id}}')" class="bg-blue-400 p-2 rounded-md text-white">수정</a>
                <a href="#" onclick="javascript:deleteReply('{{r.id}}')" class="bg-red-400 p-2 rounded-md text-white">삭제</a>
              </div>
            {% endif %}

          </section>
        {% endfor %}
      {% else %}
        <p>등록된 댓글이 없습니다.</p>
      {% endif %}
    </div>
  </div>
{% endblock body %}