{% extends 'exam/base.html' %}
{% block title %}[영화 등록하기]{% endblock title %}
{% block body %}
  <script></script>
  <section class="flex flex-col gap-2">
    <h1 class="text-5xl p-2">영화 등록하기</h1>
    <p>등록번호:
      {{m.id}}</p>
    <p>장르:
      {{m.genre}}</p>
    <p>제목:
      {{m.movie_name}}</p>
    <p>내용:
      {{m.movie_summary}}</p>
    <p>등록일:
      {{m.reg_date}}</p>
  </section>
  <div class="flex flex-row gap-4 justify-center">
    {% if o.author.username == user.username %}
      <a href="{%url 'exam:update' m.id %}">수정</a>
      <a href="{%url 'exam:delete' m.id %}">삭제</a>
    {% endif %}
    <a href="{% url 'exam:index' %}" class="bg-black text-white p-4 rounded-md">목록으로</a>
  </div>
  <section id="replyArea">
    <article class="w-full h-28 text-lg">
      <div class="w-full flex items-center justify-between p-4 gap-4" id="writeForm">
        <textarea id="replyTextWrite" name="reply_content" placeholder="댓글 내용을 입력해주세요!" class="flex flex-1 border"></textarea>
        <input type="button" value="댓글작성" id="btnWrite" class="bg-black text-white w-40 py-4 rounded-md">
      </div>
    </article>
    <div class="flex flex-col gap-2 p-4">
      {% if not m.review_set %}
        {% for r in m.reply_set.all %}
          <section class="flex flex-row gap-4 items-center justify-between border p-2 rounded-md hover:bg-gray-100">
            {#댓글 내용 작성자#}
            <div class="flex flex-col gap-6 p-2">
              <p class="flex gap-4">
                <span class="font-bold">작성자:{{r.reviewer_name}}</span>
                <span class="text-gray-400 text-xs">{{r.review_text}}</span>
                <span>평점:{{r.score}}점</span>
                <span>등록일:{{r.reg_date}}</span>
              </p>
            </div>
          </section>
        {% endfor %}
      {% else %}
        <p>등록된 리뷰가 없습니다.</p>
      {% endif %}
    </div>
  </section>
{% endblock body %}