{% extends 'exam/base.html' %}
{% block title %}[글쓰기]{% endblock title %}

{% block body %}
  <script>
    function formValidate() {
      let genreType = $("#genreType").val();
      let movie_title = $("#movie_title").val();
      let movie_content = $("#movie_content").val();

      if (genreType === "none") {
        alert("장르를 선택해주세요");
        return false;
      }
      if (movie_title == "" || movie_content == "") {
        alert("제목 또는 내용이 비어있습니다.");
        return false;
      }

      return true;
    }
  </script>

  <h1>주문수정</h1>

  <form action={% url 'exam:update' m.id %} method="post" onsubmit="return formValidate()">
    {% csrf_token %}
    <table>
      <tr>
        <th>장르선택:</th>
        <td>
          <select id="genreType" name="genreType" class="w-28 border border-gray-400">
            <!--주문-->
            {% if genre == 'none'%}
              <option value="none" selected="selected">선택</option>
              {% else%}
              <option value="none">선택</option>
              {% endif%}
              {% if genre == 'act'%}
                <option value="act" selected="selected">액션</option>
                {% else%}
                <option value="act">액션</option>
                {% endif%}
                {% if genre == 'ani'%}
                  <option value="ani" selected="selected">애니</option>
                  {% else%}
                  <option value="ani">애니</option>
                  {% endif%}
                  {% if genre == 'comic'%}
                    <option value="comic" selected="selected">코믹</option>
                    {% else%}
                    <option value="comic">코믹</option>
                  {% endif %}
                </select>
              </td>
            </tr>
            <tr>
              <th>제목:</th>
              <td>
                <input id="movie_title" value="{{m.movie_name}}" type="text" name="movie_title" class="border border-gray-400"/>
              </td>
            </tr>
            <tr>
              <th>영화 줄거리:</th>
              <td>
                <textarea id="movie_content" cols="30" rows="3" name="movie_content" class="border border-gray-400">{{m.movie_summary}}</textarea>
              </td>
            </tr>
          </table>
          <div class="w-full flex justify-start gap-4 px-4">
            <a href="../" class="bg-black text-white p-2 rounded-md">뒤로가기</a>
            <input type="submit" value="주문하기" class="bg-black text-white p-2 rounded-md"/>
          </div>
        </form>
      {% endblock body %}
