<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원수정</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <form action="{%url 'common:update' %}" method="post" class="w-full flex flex-col items-center jutify-center gap-4 p-4">
      {% csrf_token %}
      <table class="">
        <tr>
          <th>아이디</th>
          <td>{{ user.username }}</td>
        </tr>
        <tr>
          <th>성:</th>
          <td>
            <input type="text" name="last_name" value="{{user.last_name}}" class="border border-gray-400 px-2"/>
          </td>
        </tr>
        <tr>
          <th>이름:</th>
          <td>
            <input type="text" name="first_name" value="{{user.first_name}}" class="border border-gray-400 px-2"/>
          </td>
        </tr>
        <tr>
          <th>이메일:</th>
          <td>
            <input type="email" name="email" value="{{user.email}}" class="border border-gray-400 px-2"/>
          </td>
        </tr>
      </table>
      <input type="submit" value="정보수정" class="w-[40%] bg-black text-white p-4"/>
    </form>
  </body>

</html>
