<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!--{% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    -->
  </head>
  <body>
    <section class="flex flex-col gap-2">
      <p>글번호: {{board.id}}</p>
      <a class="cursor-pointer hover:bg-gray-400">
        <span>제목:</span>
        {{board.title}}
      </a>
      <p>내용: {{board.content}}</p>
      <p>글쓴이: {{board.writer}}</p>
      <p>등록일: {{board.input_date}}</p>
      <p>조회수: {{board.view_count}}</p>
    </section>

    <div class="flex flex-row gap-4">
      <a href="{{board.id}}/update">수정</a>
      <a href="{{board.id}}/delete">삭제</a>
      <a href="../../board/" class="bg-gray-400">목록으로</a>
    </div>
  </body>
</html>
